name: My secound pipeline
on:
  push:
    branches: ["main"]
jobs:
  primeiro-job:
    name: "Teste de job"
    runs-on: ubuntu-latest
    steps:
      - name: "Minha step"
        run: echo "Start my life"
  segundo-job:
    name: "Instalação da versão do nodeJS"
    runs-on: ubuntu-latest
    steps:
      - name: "verificação da versão do nodeJS atual"
        run: node --version
      - name: "Instalação da versão 14 do nodeJS"
        run: |
      - uses: actions/setup-node@v4
        with:
          node-version: '20.0'
      - name: "verificação da versão do nodeJS depois da instalação"
        run: node --version
      

          
